body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: #333333;
}

h1, h2, h3 {
  color: #e7e6e6;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.form-wrapper {
  font-family: 'Source Sans Pro', sans-serif;
}

.text-field--label {
  color: #e7e6e6;
}

.form-wrapper .submit-link {
  background-color: #04AA6D !important;
  border-radius: 5px;
  font-size: 17px;
  padding: 6px 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.form-wrapper .submit-link:hover {
  opacity: .8;
  cursor: pointer;
}

.form-wrapper .messages div.message-error {
  background-color: #f57589 !important;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 5px;
}

.form-wrapper .messages div.message-info {
  background-color: #659df1 !important;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 5px;
}
